{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/item.css' %}">

{% endblock %}
{% block content  %}
    <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/sneaker/media/{{ item.img }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">id:{{ item.id }}</div>
                        <h1 class="display-6 fw-bolder">{{ item.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{ item.brand }}</span>
                        </div>
                        <p class="lead display-6">${{ item.price }}</p>
                        <form method="post">
                            {% csrf_token %}
                            <h6> Inventory: {{ inv }}</h6>
{#                            <div class="form-check" style="margin-top:20px;">#}
{#                              <input class="form-check-input" type="checkbox" value="True" name="custom">#}
{#                              <label class="form-check-label" for="defaultCheck1">#}
{#                                Customized processing#}
{#                              </label>#}
{#                            </div>#}
                            <div class="d-flex" style="margin-top:20px;">
                              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Costom:</label>
                              <select class="custom-select my-1 mr-sm-2" name='custom' id="inlineFormCustomSelectPref">
                                <option value="null"selected>Null</option>
                                <option value="Red">Red</option>
                                <option value="Green">Green</option>
                                <option value="Blue">Blue</option>
                              </select>
                            </div>
                            <div class="d-flex" style="margin-top:10px;">
                                {% if inv == 0 or request.session.user_type == 's' %}
                                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" name="sneakerid" value="{{ item.id }}" disabled>
                                    <i class="bi-cart-fill me-1"></i>
                                    Buy
                                </button>
                                {% else %}
                                <button class="btn btn-outline-dark flex-shrink-0" type="submit" name="sneakerid" value="{{ item.id }}">
                                    <i class="bi-cart-fill me-1"></i>
                                    Buy
                                </button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
